<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="https://scontent.fsgn5-3.fna.fbcdn.net/v/t31.0-8/25395081_1209232435888123_6494649041416633453_o.jpg?oh=c0c96f2dbe08a981c59534aa0c6d15b3&oe=5AB856C6"
    />

    <title>StoryBooks</title>
</head>

<body>
    {{> header}} {{#if user}} {{> _add-btn}} {{/if}}
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>

    <script>
        $(document).ready(() => {
            $('.button-collapse').sideNav();
            $('select').material_select();
        });

        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea,toolbar,basicstyles,link'
        });
    </script>
</body>

</html>